<div class="user_sprofile_show">
  <div class="user_show_hader">
    <!-- 写真 -->
    <%= image_tag @profiles.photo.url(:medium) %>
    <br>
    <% if current_user.id == @profiles.user_id %>
      <div class="link_but">
      <%= link_to edit_profile_path  do %>
        <button type="button" class="btn btn-default btn-lg link_but">profile edit</button>
      <% end %>
      <%= link_to  "/users/#{current_user.id}" do %>
      <button type="button" class="btn btn-default btn-lg link_but">mypage</button>
      <% end %>
      </div>
    <% end %>
  </div>
    
  
    <div class="panel panel-default">
      <div class="panel-heading">
        <h5 class="panel-title"><%= @profiles.user_name %></h5>
      </div>
      <div class="panel-body ">

        <p class="gender">gender</p>
        <p><%= @profile_sex.group %></p>
        <br>
        <p class="self_introduction">My Self</p>
        <div>
        <p><%= @profiles.self_introduction %></p></div>
        <br>
      </div>
    </div>
 
</div>






