<%= form_for(@article) do |f| %>
 <div class="field">
      <%= f.label :user_id %><br>
　    ユーザーID
      <%= f.collection_select :user_id, User.all, :id, :id%>
    </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class="field">
  <%= f.label "画像" %><br>
  <ul>
    <%= f.file_field :image %>
  </ul>
  </div>

  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>

    <div class="field">
  <%= f.label :interest_list, "タグ（カンマ区切り）" %><br>
  <%= text_field_tag 'article[interest_list]', @article.interest_list.join(',') %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>

