<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
  <% @articles.each do |article| %>
  <ul><%= link_to article.title, article_path(article.id) %></ul>
  <% stars = article.reviews.average(:rate).to_i %>
  <span class="stars"><% stars.times do %><a href=""><img src="/assets/images/rate/small_star.png"/></a></li><% end %></span>
    <%= article.reviews.average(:rate) %>点（<%= article.reviews.count %>）

  <td>
  <% if article.favorited_by? current_user %>
    <%= link_to "いいね解除", article_favorites_path(article), method: :delete %>
  <% else %>
    <%= link_to "いいね", article_favorites_path(article), method: :post %>
  <% end %>

  
  </td>
  <%#= link_to "消す", article_path(article.id), method: :delete %>
  <% end %>
  <script>
  function initMap() {
    var center = {lat: <%= @articles.last.latitude %>, lng: <%= @articles.last.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: center
            });
    
    var marker = new google.maps.Marker({
            position: center,
            map: map
           
            });
    <% @articles.each do |article| %>
      
      var address<%= article.id %> = {lat: <%= article.latitude %>, lng: <%= article.longitude %>};
      var marker<%= article.id %> = new google.maps.Marker({
            position: address<%= article.id %>,
            map: map,
            title: contentString<%= article.id %>
            });
      var contentString<%= article.id %> = '▶︎：<%= link_to article.title, article_path(article.id) %>';
      var infowindow<%= article.id %> = new google.maps.InfoWindow({
            content: contentString<%= article.id %>
            });
      marker<%= article.id %>.addListener('click', function() {
          infowindow<%= article.id %>.open(map, marker<%= article.id %>);
        });
        <% end %>
     };
  </script>

  

  <%= link_to "新規投稿", new_article_path %>
  <p><%= link_to "マイページ", "/users/#{current_user.id}" %></p>
