<h1>article詳細</h1>

<p><%= @article.address %></p>
<p><%= @article.latitude %></p>
<p><%= @article.longitude %></p>



<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<%= @article.title %>
<br>
<%= @article.content %>
<br>
<%= @article.favorites.count %>

<%= image_tag @article.image.url(:medium) %>
<td><%= render'articles/tag_list',tag_list: @article.interest_list %></td>

<!-- userとarticleuser_idが一緒なら消すよってやつ -->
<% if user_signed_in? %>
  <% if current_user.id == @article.user_id %>
    <%= link_to 'Edit', edit_article_path(@article) %> |
    <%= link_to 'Destroy', @article, method: :delete, data: { confirm: 'Are you sure?' } %> |
    <p><%= link_to "マイページ", "/users/#{current_user.id}" %></p>
    <strong>by:<%= current_user.profile.user_name %></strong> 
  <% end%>
<% end%>


    <%= link_to 'Back', articles_path %>
    

<script>
  function initMap() {
    var <%= @article.title %> = {lat: <%= @article.latitude %>, lng: <%= @article.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center:  <%= @article.title %>
    });
    var marker = new google.maps.Marker({
      position: <%= @article.title %>,
      map: map
    });
  }
</script>

<p>あなたの評価</p>
<%= form_tag article_reviews_path(@article),method: :post do %>
   <div id="star"></div>

   <%= submit_tag "レビューする" %>
<% end %>
<% stars = @article.reviews.average(:rate).to_i %>
<!-- 表示する用 -->
<% my_star = Review.find_by(article_id: @article, user_id: current_user) %>
<% if current_user.reviews.present? %>
<p>
  <span class="stars"><% my_star.rate.times do %>
    <a href=""><img src="/assets/images/rate/star_y.png"/></a>
  <% end %>

  </span>
</p>
<% end %>
<!-- 平均表示 -->
<span class="stars"><% stars.times do %>
  <a href=""><img src="/assets/images/rate/star_y.png"/></a>
<% end %>
</span>
<%= @article.reviews.average(:rate) %>点（<%= @article.reviews.count %>）







<!-- コメント________________________________________ -->
<h2>コメント</h2>
<%= render 'comment' %>

<p>コメント一覧</p>
<% @comments.each do |comment| %>

 <span><%= comment.comment_title  %></span><br>
<span><%= comment.comment_discription  %></span><br>
<span><%= comment.user_name  %></span><br>
<p> 

  <%#= link_to 'Destroy', article_path(@comment), method: :delete, data: { confirm: 'Are you sure?' } %> |

  <%= link_to 'Destroy Comment', [comment.article, comment],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>
<%#= render @article.articlecomments %>
<% end %>
