<ul>
    <li>
      <%= link_to users_show_path(@user) do %>
        <div class="text">投稿数</div>
        <div class="num"><%= @user.articles.count %></div>
      <% end %>
    </li>
    <li>
      <%= link_to favorites_user_path(@user) do %>
        <div class="text">いいね一覧</div>
        <div class="num"><%= @user.favorites.count %></div>
      <% end %>     
    </li>
</ul>
<% if @user.favorites.empty? %>
    <div class="list-group-item">
      まだお気に入りされた投稿はありません。
    </div>
<% end %>
<% @user.favorites.map { |f| f.article }.each do |article| %>
    
    <div class="post-body">
        <%= link_to article.title,article_path(article.id) %>
    </div>  
<% end %>

<%= link_to users_show_path(@user) do %>
<p>back</p>
<% end %>

