<div class="user_show_mypage">
 <div class="user_show_hader">
 <div class="profile_photo">
      <%= image_tag @user.profile.photo.url(:thumb) %>
    </div>
    <div class="user_show_username">
      <strong><%= @user.profile.user_name %></strong> 
    </div>
    <%= render 'stats' %>
    

 </div>
  <div class="user_show_box">
    
    
  <% if current_user.id == @profiles.user_id %>
    <p><%= link_to "profile変更",edit_profile_path(@profiles) %></p> 
  <% end %>
 　<% if current_user.id == @user.id %>
    <!--  自分のプロフィールのみで表示内容 -->
      <p><%= link_to "記事投稿",new_article_path %></p>
      <p><%= link_to "マイページ", "/users/#{current_user.id}" %></p>
      <p><%= link_to 'みんなの記事一覧', articles_path %></p>
      <p><%= link_to 'user一覧', users_path %></p>
      <p><%= link_to favorites_user_path(@user) do %>
            <div class="text">いいね一覧</div>
            <div class="num"><%= @user.favorites.count %></div>
          <% end %> 
      <li>
      <%= link_to user_path(@user) do %>
        <div class="text">投稿数</div>
        <div class="num"><%= @user.article.count %></div>
      <% end %>    
          </p>

      
      <p>自分の投稿↓</p>
      <% @user.articles.each do |article| %>
          <li><%= link_to article.title, article_path(article.id) %></li>
          
        <% end %>
      <% else %>
  　　<p>記事一覧</p>
        <% @user.articles.each do |article| %>
          <li><%= link_to article.title, article_path(article.id) %></li>
          
        <% end %>
        <%= render 'follow_form' %>
    
    
    <!--  # 他人のプロフィールのみで表示内容 -->
    <% end %>
  </div>
</div>
 
      