<h1>Users#show</h1>
  
  
    <div class="profile_photo">
      <%= image_tag @user.profile.photo.url(:thumb) %>
    </div>
    <strong><%= @user.profile.user_name %></strong> 
    <hr> 
    <% if current_user.id == @profiles.user_id %>
      <p><%= link_to "profile変更",edit_profile_path(@profiles) %></p> 
    <% end %>
 
      <p><%= link_to "記事投稿",new_article_path %></p>
      <p><%= link_to "マイページ", "/users/#{current_user.id}" %></p>
      <p><%= link_to 'みんなの記事一覧', articles_path %></p>
      <p><%= link_to 'user一覧', users_path %></p>
      <p>自分の投稿↓</p>
      <% @user.articles.each do |article| %>
        <li><%= link_to article.title, article_path(article.id) %></li>
      <% end %>
        <li><%= link_to favorites_user_path(@user) do %>
          <div class="text">いいね一覧</div>
          <div class="num"><%= @user.favorites.count %></div>
        <% end %>     
        </li>
    <%= render 'follow_form' %>
    <%= render 'stats' %>